.review-cards-container{
    padding: 2.5rem;
    height: 85vh;
}

.action-btn-container{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
}

.project-img{
    height: 250px;
}