.review-cards-container{
    padding: 2.5rem;
    min-height: 85vh;
}

.action-btn-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid white;
}

.project-img{
    height: 250px;
}

.cards{
    height: 500px;
    overflow-y: auto;
    box-shadow: 0 0 3px white;
}

.vote-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 50%;
}

.vote-container p {
    margin: 0;
}

.edit-del-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 50%;
}

.pls-login{
    text-align: center;
}

.profile-info{
    display: flex;
    align-items: center;
}

.profile-pic{
    height: 50px;
}